/* External font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* root styles */
:root {
    --page-margin: 50px 10%;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #FFFFFF;
}
header {
    background-color: #2D25A0;
}
nav {
    margin: var(--page-margin);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    font-style: normal;
}
nav a, .banner-text a, #email-submit, .hightlight-info a, .match a {
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.nav-links a {
    margin-right: 36px;
}
.nav-links #mobile-menu {
    display: none;
}
.nav-links a:hover {
    color: #E02C6D;
}
.login-link, .banner-text a, #email-submit, .hightlight-info a, .match a {
    padding: 10px 24px;
    background-color: #E02C6D;
}

.header-info {
    margin: var(--page-margin);
    display: flex;
}
.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-text h1 {
    font-size: 64px;
    color: #FFFFFF;
    padding-right: 20%;
}
.half-width {
    width: 50%;
}
.banner-image img {
    width: 90%;
    transition: transform 0.5s ease-in;
}
.banner-image:hover img {
    transform: scale(1.2);
    transition: transform 0.5s ease-in;
}

/* Players Area Styles */
.players-area {
    margin: var(--page-margin);
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.player {
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 10px 10px 10px #e2dede;
}
.player img {
    width: 100%;
}

/* Hightlight Area Styles */
.hightlight-area {
    display: flex;
    margin: var(--page-margin);
}
.hightlight-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10%;
}
.hightlight-info h1 {
    font-size: 40px;
    margin: 5px 0;
}
.hightlight-cover img {
    width: 100%;
}

/* Recent matches Styles */
.recent-matches {
    padding: var(--page-margin);
}
.section-title {
    font-size: 50px;
    text-align: center;
}
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}
.match {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 10px 20px 10px #e2dede;
}
.match img {
    border-radius: 20px;
    width: 100%;
}


/* Newsletter Area */
.newsletter-area {
    padding: var(--page-margin);
    background-color: #2D25A0;
    color: #FFFFFF;
}
.newsletter-area p {
    padding-right: 20%;
}
.newsletter-area h1 {
    font-size: 40px;
}
#newsletter-email {
    width: 50%;
    padding: 8px 20px;
    margin-right: 10px;
}


/* Footer Styles */
footer {
    margin: var(--page-margin);
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.social-icons a {
    color: #000000;
}
.social-icons i{
    padding: 10px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-right: 5px;
}
footer img {
    width: 40%;
}


/* ----------------------
    Media Queries
-------------------------*/
@media screen and (max-width: 600px) {
    .nav-links a {
        display: none;
    }
    .nav-links #mobile-menu {
        display: block;
    }
    .banner-text h1 {
        font-size: 30px;
    }
    .header-info {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .banner-text, .banner-image, .hightlight-info, .hightlight-cover {
        width: 100%;
    }
    .players {
        grid-template-columns: 1fr;
    }
    .hightlight-area {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .matches {
        grid-template-columns: 1fr;
    }
    .section-title, .newsletter-area h1, .hightlight-info h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .nav-links a {
        display: none;
    }
    .nav-links #mobile-menu {
        display: block;
    }
    .header-info {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .banner-text, .banner-image, .hightlight-info, .hightlight-cover {
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
    }
    .hightlight-area {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .matches {
        grid-template-columns: 1fr;
    }
}